#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
#
# * Basic Settings
#
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

symbolic-links=0
default_storage_engine = InnoDB
innodb_file_per_table = 1
# innodb_large_prefix = 1

event_scheduler=on

# for recover innodb only
#innodb_force_recovery = 2

# network
connect_timeout = 600000
wait_timeout = 28800
max_connections = 800
max_allowed_packet = 512M
#max_allowed_packet = 10737418240
max_connect_errors = 10000
net_read_timeout = 600000
connect_timeout = 600000
net_write_timeout = 600000
#max_statement_time = 60000

# innodb engine settings
innodb_open_files = 512
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 8
#innodb_file_format = barracuda
innodb_flush_log_at_trx_commit = 2
innodb_autoinc_lock_mode = 2
transaction-isolation = READ-COMMITTED
innodb-data-file-path = ibdata1:10M:autoextend
innodb-log-file-size = 256M
innodb_log_buffer_size = 32M

# performance settings
skip-name-resolve
skip-external-locking
skip-innodb_doublewrite

query_cache_size = 128M
query_cache_type = 1
query_cache_min_res_unit = 2K

join_buffer_size = 8M
sort_buffer_size = 2M
read_rnd_buffer_size = 3M
table_definition_cache = 2048
table_open_cache = 100000
thread_cache_size = 128
tmp_table_size = 200M
max_heap_table_size = 200M

log_warnings = 2
log_error       =       /var/log/mysql/mysql-error.log

character-set-server=utf8
collation-server=utf8_general_ci


[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition


#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/